@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
body {
    background-color: #f7f7f7;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}